---
import { Data } from "@utils/index";
import { GoDotFill } from "react-icons/go";
const year = new Date().getFullYear()
---

<footer class="w-full bg-cyan-900 py-4">
    <div class="w-[70%] gap-x-6 mx-auto flex">
        <!-- Footer Items -->
        <ul class="flex gap-x-2">
            {
                Data.footer_banner_items.map(item => (
                    <div class="flex">
                        <GoDotFill size={"12px"} color="#0FCC7C" className="mt-1 mr-[1px]" />
                        <li class="text-white text-[14px]"><a href={item.path}>{item.link}</a></li>
                    </div>
                ))
            }
        </ul>
        <div>
            <p class="text-white text-[14px]">Copyright © {year} LPV Technologies, Inc. All rights reserved. Present by Web-Raiders</p>
        </div>
    </div>
</footer>