---
import { Container } from "../common";
import { Data } from "@utils/index";
import { RiArrowRightSLine } from "react-icons/ri";
const year = new Date().getFullYear()
---

<footer class="w-full bg-cyan-900 py-4">
    <Container>
        <div class="w-full gap-x-6 mx-auto flex justify-between items-center">
            <!-- Footer Items -->
            <div>
                <p class="text-white text-[14px]">Copyright © {year} LPV Technologies, Inc. All rights reserved. Presented by Web-Raiders</p>
            </div>
            <ul class="flex gap-x-5">
                {
                    Data.footer_banner_items.map(item => (
                        <div class="flex gap-x-1">
                            <div class="w-[20px] h-[20px] bg-[#0FCC7C] flex justify-center items-center rounded-full">
                                <RiArrowRightSLine size={"12px"}  className="text-cyan-900" />
                            </div>
                            <li class="text-white text-[14px]"><a href={item.path}>{item.link}</a></li>
                        </div>
                    ))
                }
            </ul>
        </div>
    </Container>
</footer>