---
import { Layout, Common } from "@components/index"
import { Data } from "@utils/index";
import { ABOUT_PAGE_DESCRIPTION } from '@utils/constants'
---

<Layout title='About Us' description={ABOUT_PAGE_DESCRIPTION}>
    <!-- Hero Section -->
	<Common.Hero backgroundImage={'/images/solar-photovoltaic-panels-station.jpg'} header='About Us' caption='Renewable Energy for a Sustainable World' />
    <!-- About Section -->
    <section class="w-full pt-20 lg:pt-40 pb-[40px]">
		<Common.Container>
			<div class="flex flex-col md:flex-row md:gap-5">
				<!-- Left Content -->
				<div class="w-full md:w-[55%] lg:w-2/4 flex-col flex-wrap" data-aos='fade-right' data-aos-offset='100' data-aos-duration="500">
					<h6 class="text-[14px] md:text-base font-bold text-green uppercase">Our Goals</h6>
					<h2 class="text-[28px] leading-[26px] md:text-[40px] md:leading-[45px] mt-5 text-deepBlue font-bold">Renewable Energy For a Sustainable World</h2>
					<p class="text-[14px] text-deepBlue mt-5 md:text-base md:pr-20">
						The sun provides us with a limitless source of clean, sustainable energy. 
						It's not just the foundation of life but also a beacon of hope for a greener future. 
						At LPV Technologies, we are committed to leveraging this abundant resource to create a lasting impact on the environment and society.
					</p>
					<p class="text-[14px] text-deepBlue mt-5 md:text-base md:pr-20">
						We lead the charge in the innovation and development of high-efficiency solar panels, incorporating the latest advancements in PERC and TOPCon modules. 
						These state-of-the-art technologies allow us to convert the sun's energy into reliable and affordable power, ensuring a brighter and more sustainable world for generations to come.
					</p>
					<h4 class="text-deepBlue font-bold mt-5">Vison</h4>
					<p class="text-[14px] text-deepBlue md:text-base md:pr-20">To pioneer solar solutions that empower communities and lead the renewable energy revolution in Nigeria and beyond</p>
					<h4 class="text-deepBlue font-bold mt-5">Mission</h4>
					<p class="text-[14px] text-deepBlue md:text-base md:pr-20">To transform Nigeria's solar sector with innovative, indigenous solutions, driving sustainable practices for a cleaner, brighter future</p>
					<!-- <div class="mt-10">
						<Common.Button path="#" className="py-3 px-10 font-semibold text-white bg-green rounded-full baseline hover:bg-darkBlue" text="Discover more" />
					</div> -->
				</div>
				<!-- Right Image -->
				<div class="w-full md:w-[40%] lg:w-2/4 h-full mt-[50px] md:mt-[100px]" data-aos='fade-up' data-aos-offset='100' data-aos-duration="500">
					<div class="relative">
						<img src='/images/successful-happy-business-team.jpg' alt={"energy image"} class={"w-full h-full rounded-xl"} />
					</div>
					{/* Card */}
					<!-- <div class="flex flex-col items-center absolute w-[250px]  md:w-[300px] h-[auto] py-10 px-7 bg-green rounded-xl -mt-[150px] md:-mt-[220px] ml-[10px] md:-ml-[50px] text-white" data-aos='zoom-in' data-aos-offset='100' data-aos-delay='100'>
						<h6 class="text-white text-[18px] text-center">Since 2010, our customers have avoided</h6>
						<div class="w-[60px] h-[60px] mt-2 mb-2 rounded-xl bg-[#e1f5ec] flex justify-center items-center">
							<BsLightning color="#0FCC7C" size={'32px'}/>
						</div>
						<Helpers.Counter client:load from={0} to={1000000} fontSize="37" />
						<h4 class="text-[15px] text-center font-semibold mt-1">Pounds of CO2</h4>
					</div> -->
				</div>
			</div>
		</Common.Container>
	</section>



	<!-- Our clients section -->
	<section class="w-full pt-40">
		<!-- <Common.Clients page="About" /> -->
		<hr />
		<Common.Container>
			<!-- Flex -->
			<div class="flex flex-col md:flex-row md:flex-wrap lg:flex-nowrap justify-between items-center gap-3 mt-20">
				{
					Data.services.map(item => (
						<div class="w-[100%] h-[auto] lg:h-[auto] xl:h-[280px] md:w-[350px] lg:w-[100%] rounded-xl py-10 px-5 border border-solid border-gray-200 text-center cursor-auto hover:shadow-xl">
							{/* Top Icon */}
							<div class={`w-[max-content] p-3 mx-auto bg-green rounded-xl`}>
								<item.icon size={'25px'} color="#fff" />
							</div>
							<h6 class="text-deepBlue text-[20px] md:text-[15px] font-bold pt-5">{item.title}</h6>
							<p class="pt-5 text-[18px] md:text-base">{item.description}</p>
						</div>
					))
				}
			</div>
		</Common.Container>
	</section>

    <!-- Live Green Section -->
	<Common.GreenCounter />

    <!-- Decision Section -->
	<!-- <Common.Services /> -->
    


</Layout>