---
import { Common, Layout } from '@components/index';
import { FiPhone } from "react-icons/fi";
import { Constants, Queries } from '@utils/index';
import type { CollectionEntry } from 'astro:content';
import { sanityClient } from "sanity:client";
import { FAQS_PAGE_DESCRIPTION } from '@utils/constants'

const faqs = await sanityClient.fetch(Queries.faqs);
const currentPage: number | null = +Astro.url.searchParams.get('page')! || 1;
const totalPages: number = Math.ceil(faqs.length / Constants.FAQS_PER_PAGE);
const faqsInPage: CollectionEntry<'faqs'>[] = faqs.slice((currentPage - 1) * Constants.FAQS_PER_PAGE, currentPage * Constants.FAQS_PER_PAGE)
---

<Layout title='FAQs' description={FAQS_PAGE_DESCRIPTION}>
    <!-- Hero Section -->
    <Common.Hero backgroundImage={'/images/faqs_bg.jpg'} header='FAQ' caption='Start the conversation to established good relationship and business.' />

    <!-- Find your solutions -->
    <section class="w-full min-h-[50vh] md:pt-20 pb-10">
        <Common.Container>
            <div class="flex flex-col md:flex-row md:gap-x-10 lg:gap-x-28">
                <div class="w-full md:w-2/4 pt-10 md:pt-20" data-aos='fade-right' data-aos-offset='100'>
                    <h6 class="text-base uppercase text-[#0FCC7C] font-bold">Find your solutions</h6>
                    <h2 class="text-[28px] leading-[30px] md:text-[32px] lg:text-[40px] text-darkBlue font-bold mt-3 lg:leading-[50px]">Find information on relevant LPVT Needs.</h2>
                    <p class="text-gray-500 mt-5 text-[17px]">
                        We have compiled a list of frequently asked questions to help you find the information you need. If you can't find what you're looking for, please don't hesitate to contact us.
                    </p>
                </div>
                <div 
                    class="w-full mt-10 md:mt-0 md:w-2/4 h-[200px] md:h-[450px] bg-no-repeat bg-cover bg-center rounded-2xl flex flex-col justify-end p-3 md:pb-5 md:pl-1 lg:pl-5" 
                    style={{ backgroundImage: 'url(/images/team_bg.jpg)'}}
                    data-aos='fade-left' data-aos-offset='100'
                >
                    <!-- Card -->
                    <div class="w-[95%] md:w-[max-content] mx-auto h-[100px] md:h-[auto] bg-white rounded-2xl p-2 md:p-6 md:pr-10 md:flex md:gap-x-3">
                        <div class="hidden md:block bg-[#0FCC7C] p-6 w-[max-content] flex justify-center items-center rounded-full">
                            <FiPhone color='#fff' size={'30px'} />
                        </div>
                        <div class="flex-col pt-2 text-center md:text-left">
                            <p class="text-darkBlue uppercase font-semibold">Customer Services</p>
                            <h4 class="text-[#0FCC7C] text-[26px] leading-[30px] font-semibold">(888) 4000-2424</h4>
                        </div>
                    </div>
                </div>
            </div>
        </Common.Container>
    </section>

    <!-- FAQs Section -->
    <section class="w-full min-h-[100vh] md:min-h-[70vh] bg-gray-50 py-10 md:py-20">
        <Common.Container flex='flex-col'>
            <div class="flex-col flex-wrap text-center">
                <h6 class="uppercase text-[#0FCC7C] font-bold font-[12px]">Common Questions</h6>
                <h2 class="text-[20px] md:text-[38px] text-darkBlue font-bold mt-2 md:mt-4 leading-[45px]">Most Popular Questions</h2>
            </div>
            <!-- FAQs -->
            <Common.Faqs data={faqsInPage} client:load />
            <div class="w-full mt-5">
                <Common.Pagination currentPage={currentPage} totalPages={totalPages} disablePrevious={currentPage === 1} disableNext={currentPage === totalPages} />
            </div>
        </Common.Container>
    </section>
    
</Layout>