---
import { Layout, Helpers, Common } from "@components/index"
import { Image } from "astro:assets";
import { Data, Queries } from "@utils/index";
import "@styles/styles.css";
import type { CollectionEntry } from "astro:content";
import { sanityClient } from "sanity:client";

const projects: CollectionEntry<'projects'>[] = await sanityClient.fetch(Queries.projects)
---

<Layout>
	<!-- Carousel -->
	<Helpers.Carousel client:load />
	<!-- Cards -->
	<section class="absolute z-10 top-[700px] mx-auto w-full pb-10">
		<Common.Container>
			<!-- First Card -->
			<div class="w-[400px] text-white text-center shadow-xl rounded-[20px] p-[30px] h-[300px] bg-green">
				<h4 class="text-[24px] text-center font-bold mb-5">Since 2010, our customers have avoided</h4>
				<Helpers.Counter client:load from={0} to={1000000} />
				<h4 class="text-[24px] text-center font-bold mt-5">Pounds of CO2</h4>
			</div>
			<!-- Second Card -->
			<div class="w-[750px] rounded-[20px] p-[50px] h-[300px] shadow-xl bg-white">
				<h4 class="text-[24px] text-deepBlue font-bold mb-5">Discover innovative solutions and exceptional quality</h4>
				<p class="text-base text-deepBlue">
					LPV Technologies is a pioneering indigenous renewable energy company dedicated to revolutionizing the solar industry in Nigeria. With a strong focus on local assembly, we are committed to providing high-quality solar panels tailored to the needs of the Nigerian renewable energy market.
				</p>
				<div class="mt-10">
					<Common.Button path="/about" text="Learn More" className="py-2 px-4 text-[16px] mt-6 text-white bg-green rounded-full baseline hover:bg-darkBlue" />
				</div>
			</div>
		</Common.Container>
	</section>

	<!-- About Us Section -->
	<section class="w-full pt-[260px] pb-10">
		<Common.Container>
			<!-- Left Content -->
			<div class="w-2/4 flex-col flex-wrap">
				<h6 class="text-base font-bold text-green uppercase">Who we are</h6>
				<h2 class="text-[40px] leading-[45px] mt-5 text-deepBlue font-bold">Renewable Energy For a Sustainable World</h2>
				<p class="text-base text-deepBlue mt-5 pr-20">
					We are a dedicated team of professionals committed to delivering the best energy solutions for diverse solar energy projects
				</p>
				<p class="text-base text-deepBlue mt-5 pr-20">
					We specialize in harnessing the unparalleled power of the sun to create innovative, high-quality solar solutions that drive sustainable progress. LPV Technologies boasts a state-of-the-art 100MW solar panel assembly plant, spanning over 20,000 sqm and equipped with a top-rated European panel assembly line. This facility assembles premium quality solar panels that meet international standards, offering flexibility to produce monocrystalline, polycrystalline, and BIPV solar panels. Our commitment to excellence is reflected in every panel we produce, combining advanced engineering, superior craftsmanship, and cutting-edge technology. 
				</p>
				<p class="text-base text-deepBlue mt-5 pr-20">
					Driven by innovation and a commitment to excellence, LPV Technologies aims to be at the forefront of the energy transition agenda by offering high-quality and bespoke renewable energy solutions to discerning clients in Nigeria and beyond.
				</p>
				<div class="mt-10">
					<Common.Button path="#" className="py-3 px-10 font-semibold text-white bg-green rounded-full baseline hover:bg-darkBlue" text="Discover more" />
				</div>
			</div>
			<!-- Right Image -->
			<div class="w-2/4 h-full mt-[100px]">
				<div class="relative">
					<img src='https://res.cloudinary.com/du52ca1q1/image/upload/v1721828966/african-american-technician-checks-maintenance-solar-panels-group-three-black-engineers-meeting-solar-station_uwsd6x.jpg' alt={"energy image"} class={"w-full h-full rounded-xl"} />
				</div>
				{/* Card */}
				<div class="absolute w-[300px] h-[auto] py-10 px-7 bg-cyan-900 rounded-xl -mt-[220px] -ml-[30px]">
					<h6 class="text-green font-semibold text-[18px]">A Roadmap to Your Sustainable Energy Future.</h6>
					<p class="text-white pt-3 text-[14px]">We aim to be at the forefront of the energy transition agenda by offering high-quality and bespoke renewable energy solutions.</p>
					<div class="mt-7">
						<Common.Button path="#" className="py-2 px-5 text-white bg-green rounded-full baseline hover:bg-white hover:text-green" text="Learn more" />
					</div>
				</div>
			</div>
		</Common.Container>
	</section>

	<!-- Our clients section -->
	<section class="w-full mt-40">
		<Common.Container>
			<!-- Background card -->
			<div class="w-full h-auto py-7 bg-[#F5F7F8] rounded-xl mb-28">
				<div class="w-[90%] mx-auto flex-col justify-center items-center">
					<h3 class="text-center text-[28px] font-bold">LPV Technologies is trusted by 6+ million users in <br /> 175+ countries.</h3>
					<!-- Grid container -->
					<div class="grid grid-cols-4 gap-4 my-10">
						{
							Data.clients.map(item => (
								<div class="w-[250px] h-[100px] bg-white rounded-[10px] flex justify-center items-center cursor-pointer">
									<Image src={item.img} alt="client" width={100} height={100} class={'grayscale hover:grayscale-0'} />
								</div>
							))
						}
					</div>
				</div>
			</div>
		</Common.Container>
	</section>

	<!-- Live Green Section -->
	<Common.GreenCounter />
	

	<!-- Our projects section -->
	<section class="w-full min-h-screen pt-20">
		<Common.Container>
				<Common.Project qualifications={Data.qualifications} />
		</Common.Container>
	</section>

	<!-- What we offer section -->
	<Common.Offer />

	<!-- Keep your environment green section -->
	<Common.GreenTwo />

	<!-- Why choose us -->
	<Common.Solutions />

	<!-- Featured Projects -->
	<section class="w-full min-h-[100vh] pt-32">
		<Common.Container flex="flex-col">
			<div class="w-3/5 flex-col justify-center items-center mx-auto text-center">
				<h6 class="text-base uppercase text-green font-bold">Featured Projects</h6>
				<h2 class="text-[48px] text-darkBlue font-bold mt-3 leading-[52px]">Keep your environment clean make the earth green</h2>
			</div>
			<div class="w-full flex flex-wrap gap-6 mt-24">
				{
					projects.map(item => (
						<Common.Featured project={item}  />
					))
				}
			</div>
		</Common.Container>
	</section>

	<!-- Get a Quote Section -->
	<Common.Appointment />
	
	<!-- Live Green Section -->
	<Common.Green />
	
</Layout>
