---
import { Layout, Helpers, Common } from "@components/index"
import { Constants, Data, Queries } from "@utils/index";
import "@styles/styles.css";
import type { CollectionEntry } from "astro:content";
import { sanityClient } from "sanity:client";

const projects: CollectionEntry<'projects'>[] = await sanityClient.fetch(Queries.projects)
const services: CollectionEntry<'services'>[] = await sanityClient.fetch(Queries.services)
---

<Layout>
	<!-- Carousel -->
	<Helpers.Carousel client:load />
	<!-- Cards -->
	<section class="absolute z-10 top-[600px] smm:top-[700px] mx-auto w-full pb-10 md:top-[650px]">
		<Common.Container>
			<div class="w-full flex gap-y-5 flex-col gap-x-10 md:flex md:flex-row md:gap-y-0">
				<!-- First Card -->
				<!-- <div class="w-[100%] text-white text-center shadow-xl rounded-[20px] p-[30px] h-[300px] bg-green md:w-[400px]">
					<h4 class="text-[18px] text-center font-bold mb-5 md:text-[24px]">Since 2010, our customers have avoided</h4>
					<Helpers.Counter client:load from={0} to={1000000} />
					<h4 class="text-[18px] text-center font-bold mt-5 md:text-[24px]">Pounds of CO2</h4>
				</div> -->
				<!-- Second Card -->
				<div class="w-[100%] rounded-[20px] py-[20px] px-[30px] shadow-xl bg-white md:w-[750px] md:p-[40px]">
					<h4 class="text-[24px] text-deepBlue font-bold mb-5">Discover Innovative Solutions and Exceptional Quality</h4>
					<p class="text-[14px] text-deepBlue md:text-base">
						LPV Technologies is a pioneering indigenous renewable energy company dedicated to revolutionizing the solar industry in Nigeria. 
						With a strong focus on local assembly, we are committed to providing high-quality solar panels tailored to the needs of the Nigerian renewable energy market.
					</p>
					<div class="mb-5 mt-10 md:mb-0">
						<Common.Button path="/about" text="Learn More" className="py-2 px-4 text-[16px] mt-6 text-white bg-green rounded-full baseline hover:bg-darkBlue" />
					</div>
				</div>
			</div>
		</Common.Container>
	</section>

	<!-- About Us Section -->
	<section class="w-full xs:pt-[450px] xss:pt-[100px] sm:pt-[700px] xsm:pt-[600px] smm:pt-[650px] pb-10 md:pt-[260px]">
		<Common.Container>
			<div class="w-full flex gap-y-10 flex-col gap-x-10 md:flex md:flex-row md:gap-y-0">
				<!-- Left Content -->
				<div class="w-full flex-col flex-wrap md:w-2/4 md:mt-[100px]" data-aos='fade-right' data-aos-offset='100' data-aos-duration="500">
					<h6 class="text-[12px] font-bold text-green uppercase md:text-base">Who we are</h6>
					<h2 class="text-[28px] leading-[26px] md:text-[40px] md:leading-[45px] mt-5 text-deepBlue font-bold">Renewable Energy For a Sustainable World</h2>
					<p class="text-[14px] text-deepBlue mt-5 md:text-base md:pr-20">
						Undoubtedly, the sun is our most precious resource. Without it, there would be no life or humankind on earth. Best of all, its power is virtually inexhaustible.
					</p>
					<p class="text-[14px] text-deepBlue mt-5 md:text-base md:pr-20">
						At LPV Technologies, we are at the forefront of developing cutting-edge solar panels featuring PERC and TOPCon modules. These advanced technologies harness the immense power of the sun to deliver sustainable energy solutions
					</p>
					<div class="mt-10">
						<Common.Button path="#" className="py-3 px-10 font-semibold text-white bg-green rounded-full baseline hover:bg-darkBlue" text="Discover more" />
					</div>
				</div>
				<!-- Right Image -->
				<div class="w-full h-full mt-[50px] md:w-2/4 md:mt-[100px]" data-aos='fade-left' data-aos-offset='100' data-aos-duration="500">
					<div class="relative">
						<img src='./artifacts/technician-checks-maintenance-solar-panels.jpg' alt={"energy image"} class={"w-full h-full rounded-xl"} />
					</div>
					{/* Card */}
					<div class="absolute -mt-[100px] w-[300px] h-[auto] py-10 px-7 bg-cyan-900 rounded-xl md:-mt-[220px] md:-ml-[30px]" data-aos='zoom-in' data-aos-offset='100' data-aos-delay='100'>
						<h6 class="text-green text-[15px] font-semibold md:text-[18px]">A Roadmap to Your Sustainable Energy Future.</h6>
						<p class="text-white text-[12px] pt-3 md:text-[14px]">We aim to be at the forefront of the energy transition agenda by offering high-quality and bespoke renewable energy solutions.</p>
						<div class="mt-7">
							<Common.Button path="#" className="py-2 px-5 text-white bg-green rounded-full baseline hover:bg-white hover:text-green" text="Learn more" />
						</div>
					</div>
				</div>
			</div>
		</Common.Container>
	</section>

	<!-- Our clients section -->
	<!-- <Common.Clients /> -->

	<!-- Live Green Section -->
	<Common.GreenCounter />
	

	<!-- Our projects section -->
	<section class="w-full min-h-screen pt-10 md:pt-20 md:pb-20">
		<Common.Container>
			<div class="w-full flex flex-col md:flex-row">
				<Common.Project qualifications={Data.qualifications} />
			</div>
		</Common.Container>
	</section>

	<!-- What we offer section -->
	{
		services.length > 0 && (
			<Common.Offer page="landing" />
		)

	}

	<!-- Keep your environment green section -->
	<Common.GreenTwo />

	<!-- Why choose us -->
	<Common.Solutions />

	<!-- Featured Projects -->
			{
				projects.length > 0 && (
				<section class="w-full min-h-[50vh] md:min-h-[100vh] py-10 md:pt-32">
					<Common.Container flex="flex-col">
						<div class="w-[100%] lg:w-3/5 flex-col justify-center items-center mx-auto text-center">
							<h6 class="text-base uppercase text-green font-bold">Featured Projects</h6>
							<h2 class="text-[26px] leading-[28px] md:text-[34px] lg:text-[48px] text-darkBlue font-bold mt-3 lg:leading-[52px]">Keep your environment clean make the earth green</h2>
						</div>
						<div class="w-full flex flex-wrap gap-6 lg:gap-3 xl:gap-6 mt-14 md:mt-24" data-aos='fade-up' data-aos-offset='50'>
							{
								projects.slice(0, Constants.LANDING_PAGE_SIZE).map(item => (
									<Common.Featured project={item}  />
								))
							}
						</div>
						<a href="/projects" class="text-[28px] lg:tex-base flex justify-center items-center pt-10">View More</a>
					</Common.Container>
				</section>
				)
			}
	
	<!-- Live Green Section -->
	<Common.Green />
	
</Layout>
