---
import { Common } from '@components/index';
import Layout from '@components/layout.astro';
import { PrivacyImg, PolicyImage } from '@assets/images'
import { Image } from 'astro:assets'; 
import { Queries } from '@utils/index';
import { sanityClient } from "sanity:client";

const policies = await sanityClient.fetch(Queries.policy);
---

<Layout title='LpvTech Website - Privacy Policy'>
    <!-- Hero Section -->
    <Common.Hero backgroundImage={PrivacyImg} header='Privacy Policy' caption='Your Privacy, Our Priority' />

    <section class="w-full min-h-screen md:min-h-[40vh] py-10 lg:pb-20">
        <Common.Container>
            <div class="w-full mt-5">
                <h6 class="text-[20px] md:text-[30px] text-darkBlue font-bold text-center">Our Policy</h6>
                <!-- Policies -->
                <Common.Faqs data={policies} client:load />
            </div>
        </Common.Container>
    </section>
</Layout>