---
import Layout from '@components/layout.astro';
---

<Layout title='Ipvtech Website - Our Services'>
    <!-- Hero Section -->
    <section class="absolute pt-40 w-full min-h-[100vh] bg-no-repeat bg-cover bg-center" style={{ backgroundImage: `linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(/images/project.jpg)`}}>
        <div class="text-center pt-40">
            <h1 class="text-[48px] text-white">Our Services</h1>
        </div>
    </section>

    <section class="w-full min-h-screen"></section>
</Layout>