---
import { Navbar, Footer, FooterBanner } from './navigation'
const { title = 'LpvTech Website' } = Astro.props
import { LANDING_PAGE_DESCRIPTION } from '@utils/constants'
import { Cookies } from './common'
interface Props {
  title?: string;
  description?: string;
}
import 'aos/dist/aos.css';

import type { CollectionEntry } from "astro:content";
import { sanityClient } from "sanity:client";
import { Queries } from '@utils/index';

const serviceList: CollectionEntry<'services'>[] = await sanityClient.fetch(Queries.services)
const projectList: CollectionEntry<'projects'>[] = await sanityClient.fetch(Queries.projects)
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={LANDING_PAGE_DESCRIPTION} />
    <title>{title}</title>
    <style>
      * {
        box-sizing: border-box;
        /* overflow-x: hidden!important; */
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
      }
    </style>
  </head>
  <body>
      <Navbar client:load serviceList={serviceList} projectList={projectList} />
      <main>
          <slot />
      </main>
      <Footer />
      <FooterBanner />
      <Cookies client:only="react" />
      <script>
        import AOS from 'aos';
        AOS.init({
          once: true,
          offset: 100,
          easing: 'ease-in-out',
          delay: 50,
          duration: 1000
        });
      </script>
  </body>
</html>