---
import { Navbar, NavBanner, Footer, FooterBanner } from './navigation'
const { title = 'LpvTech Website' } = Astro.props
interface Props {
    title?: string
}
import 'aos/dist/aos.css';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style>
      * {
        box-sizing: border-box;
        overflow-x: hidden!important;
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
      }
    </style>
  </head>
  <body>
      <NavBanner />
      <Navbar client:load />
      <main class="relative mx-0 px-0">
          <slot />
      </main>
      <Footer />
      <FooterBanner />
      <script>
        import AOS from 'aos';
        AOS.init({
          once: true,
          offset: 100,
          easing: 'ease-in-out',
          delay: 50,
          duration: 1000
        });
      </script>
  </body>
</html>