---
import { Navbar, NavBanner, Footer, FooterBanner } from './navigation'
const { title = 'IpvTech Website' } = Astro.props
interface Props {
    title?: string
}

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <NavBanner />
    <Navbar client:load />
    <main class="relative mx-0 px-0">
        <slot />
    </main>
    <Footer />
    <FooterBanner />
  </body>
</html>