---
import Button from "./button";


---

<section class="w-full min-h-[50vh] md:min-h-[100vh] flex justify-center items-center bg-cover bg-no-repeat bg-center" style={{ backgroundImage: 'linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://res.cloudinary.com/du52ca1q1/image/upload/v1721831829/vecteezy_solar-energy-solar-photovoltaic-panels-for-renewable_33880873_rzovni.jpg)'}}>
    <div class="w-[90%] my-10 md:my-0 md:w-2/5 border rounded-xl p-5 flex-col justify-center items-center text-center">
        <h4 class="text-white text-center text-[32px] leading-[32px] md:text-[60px] md:leading-[60px] font-bold">Keep your environment clean make the earth green.</h4>
        <p class="text-white text-center mt-5 md:mt-10">
            We ensure that our products are environmentally friendly and energy efficient. Our solar panels are made from high-quality materials that are designed to last for years to come.
        </p>
        <div class="my-7">
            <Button path="#" text="Discover more" className="py-3 px-8 text-white text-[16px] bg-green rounded-full baseline hover:bg-darkBlue" />
        </div>
    </div>
</section>