---
import Button from "./button";
---

<section class="pt-20 lg:pt-40 w-full min-h-[60vh] sm:min-h-[50vh] md:min-h-[45vh] lg:min-h-[75vh] bg-cover bg-no-repeat bg-center" style={{ backgroundImage: 'linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(./images/green_three.jpg)'}}>
    <div class="w-full px-5 md:px-0 md:w-[80%] lg:w-[40%] mx-auto flex-col justify-center items-center text-white text-center" data-aos='fade-up' data-aos-offset='100'>
        <h2 class="text-[32px] leading-[28px] md:text-[60px] font-bold md:leading-[55px]">Live Green, Love Green, Think Green.</h2>
        <p class="mt-4 text-[14px] md:text-[17px]">
            Make the switch to solar energy and start saving money today. Our team of experts will help you find the perfect solution for your home or business.
        </p>
        <div class="mt-10">
            <Button path="#" text="Discover more" className="py-3 px-8 text-white text-[16px] bg-green rounded-full baseline hover:bg-darkBlue" />
        </div>
    </div>
</section>