---
import Button from "./button";
---

<section class="pt-40 w-full min-h-[75vh] bg-cover bg-no-repeat bg-center" style={{ backgroundImage: 'linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(./images/green_three.jpg)'}}>
    <div class="w-[40%] mx-auto flex-col justify-center items-center text-white text-center">
        <h2 class="text-[60px] font-bold leading-[55px]">Live Green, Love Green, Think Green.</h2>
        <p class="mt-4 text-[17px]">
            Make the switch to solar energy and start saving money today. Our team of experts will help you find the perfect solution for your home or business.
        </p>
        <div class="mt-10">
            <Button path="#" text="Discover more" className="py-3 px-8 text-white text-[16px] bg-green rounded-full baseline hover:bg-darkBlue" />
        </div>
    </div>
</section>