---
const { backgroundImage, header, caption } = Astro.props;

interface Props {
    backgroundImage: string;
    header: string;
    caption?: string
}
---

<section class="pt-16 smm:pt-20 md:pt-28 lg:pt-28 xl:pt-48 xxl:pt-28 w-full min-h-[40vh] lg:min-h-[50vh] xl:min-h-[60vh] bg-no-repeat bg-cover bg-center" style={{ backgroundImage: `linear-gradient(rgba(0, 23, 23, 0.4), rgba(0, 23, 23, 0.4)), url(${backgroundImage})`}}>
    <div class="text-center pt-10" data-aos='fade-up' data-aos-offset='100'>
        <h1 class="text-[30px] md:text-4xl text-white font-bold md:text-6xl">{header}</h1>
        <h4 class="text-[18px] md:text-lg text-white pt-3 md:pt-6 font-bold md:text-2xl">{caption}</h4>
    </div>
</section>