---
const { qualifications, page = 'landing' } = Astro.props;

interface Props {
    qualifications: any;
    page?: string;
}
---
<div 
    class="w-[100%] h-[300px] lg:w-[45%] md:h-[auto] md:mr-10 xl:mr-20 bg-cover bg-no-repeat bg-center rounded-xl" 
    style={{ backgroundImage: 'url(/images/power-solar-panel-field.jpg)'}}
    data-aos='fade-right' data-aos-offset='100'
>
    <div class="w-[150px] py-7 -ml-3 bg-white flex flex-col flex-wrap justify-center items-center rounded-full shadow-xl px-2 pt-6 text-center -mt-8 md:-ml-6">
        <span class="text-green font-bold">Innovating Quality, Delivering Excellence</span>
    </div>
</div>
<div class="w-[100%] mt-5 md:mt-0 lg:w-[55%]" data-aos='fade-up' data-aos-offset='100'>
    {page === 'projects' && <h6 class="text-base uppercase font-bold text-[#0fcc7c]">What we offer</h6>}
    <h2 class=`text-[24px] leading-[32px] md:text-[40px] text-darkBlue font-bold ${page === 'landing' ? 'mt-2' : 'mt-5'} md:leading-[45px]`>The better source of energy for the better tomorrow</h2>
    <p class="text-base text-gray-700 mt-6 mb-10">
        We are a team of professionals who are dedicated to providing the best energy solutions for your home or business. We offer a wide range of services, including solar panel installation, wind turbine installation, and energy efficiency consulting.
    </p>
    <hr />
    <div class="grid grid-cols-1 gap-y-10 md:gap-5 mt-10 lg:grid-cols-2">
        {
            qualifications.map((item: any) => (
                <div class="w-full md:w-[100%] h-auto items-center">
                        <div class="w-[60px] h-[60px] rounded-xl bg-[#e1f5ec] flex justify-center items-center">
                            <item.icon color="#0FCC7C" size={'32px'}/>
                        </div>
                        <h3 class="text-[22px] md:text-[18px] font-bold mt-5 text-deepBlue mb-3">{item.title}</h3>
                        <p class="text-base">{item.description}</p>
                </div>
            ))
        }
    </div>
</div>